<div class="ui two stackable cards">
  <div class="card">
    <div class="content">
      <div class="header">Location <i class="map marker alternate big icon"></i></div>
    </div>
    <div class="content">
      <p>Lat: {{latitude}} </p>
      <p>Long: {{longitude}} </p>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="header">Weather <i class="big icon {{weathericon latestReading.code}}"></i></div>
    </div>
    <div class="content">
      <p>{{interpretweathercode latestReading.code}}</p>
    </div>
  </div>
</div>
<div class="ui three stackable cards">
  <div class="card">
    <div class="content">
      <div class="header">Temp <i class="thermometer big icon"></i></div>
    </div>
    <div class="content">
      <p>{{latestReading.temperature}} C</p>
      <p> {{converttofahrenheit latestReading.temperature}} F</p>
      <p>Max: {{maxAndMins.maxtemp}} C</p>
      <p>Min: {{maxAndMins.mintemp}} C</p>
      {{# if trendpossible}}
      <p>Trend: {{ trend lastThree.r1.temperature lastThree.r2.temperature lastThree.r3.temperature }} <i class="arrow {{ trendicon lastThree.r1.temperature lastThree.r2.temperature lastThree.r3.temperature }} icon"></i></p>
      {{/if}}
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="header">Wind <i class="wind big icon"></i></div>
    </div>
    <div class="content">
      <p>{{beaufort latestReading.windSpeed}} bft</p>

      <p>{{beaufortlabel latestReading.windSpeed}}</p>
      <p>{{winddirectionlabel latestReading.windDirection}}</p>
      <p>Feels like: {{windchill}} C</p>
      <p>Max: {{maxAndMins.maxwindspeed}} Km/h</p>
      <p>Min: {{maxAndMins.minwindspeed}} Km/h</p>
      {{#if trendpossible}}
        <p>Trend: {{ trend lastThree.r1.windSpeed lastThree.r2.windSpeed lastThree.r3.windSpeed }} <i class="arrow {{ trendicon lastThree.r1.windSpeed lastThree.r2.windSpeed lastThree.r3.windSpeed }} icon"></i></p>
      {{/if}}
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="header">Pressure <i class="compress arrows alternate big icon"></i></div>
    </div>
    <div class="content">
      <p>{{latestReading.pressure}} hPa</p>
      <p>Max: {{maxAndMins.maxpressure}} hPa</p>
      <p>Min: {{maxAndMins.minpressure}} hPa</p>
      {{# if trendpossible}}
        <p>Trend: {{ trend lastThree.r1.pressure lastThree.r2.pressure lastThree.r3.pressure }} <i class="arrow {{ trendicon lastThree.r1.pressure lastThree.r2.pressure lastThree.r3.pressure }} icon"></i></p>
      {{/if}}
    </div>
  </div>
</div>